<html>
<head>
    <title>Welcome to Table Tennis DB crawler!</title>
</head>

<h1>List of known table tennis equipment</h1>

<h2>Rubbers</h2>
<ul>
    <table>
        <tr>
            <th>Name</th>
            <th>Speed</th>
            <th>Spin</th>
            <th>Control</th>
            <th>Tackiness</th>
            <th>Weight</th>
            <th>SpongeHardness</th>
            <th>Gears</th>
            <th>ThrowAngle</th>
            <th>Consistency</th>
            <th>Durability</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Speed}}</td>
            <td>{{.Spin}}</td>
            <td>{{.Control}}</td>
            <td>{{.Tackiness}}</td>
            <td>{{.Weight}}</td>
            <td>{{.SpongeHardness}}</td>
            <td>{{.Gears}}</td>
            <td>{{.ThrowAngle}}</td>
            <td>{{.Consistency}}</td>
            <td>{{.Durability}}</td>
        </tr>
        {{end}}

    </table>
</ul>

</html>